<h1>Burgers!</h1>


<div class="row">
  {{#each burger}}
  {{#unless this.devoured}}
  <div class="col-sm-6 text-center">
    <h3>{{this.burger_name}} </h3>
  </div>
  <div class="col-sm-3 text-left">
    <button class="change-status" data-burger-id="{{id}}" data-devoured="{{devoured}}">
      EAT ME!
    </button>
  </div>
  {{/unless}}
  {{/each}}


  <div class="col-sm-3 text-right">
    <h1>Devoured</h1>
    {{#each burger}}
    {{#if this.devoured}}
    <h3><del>{{this.burger_name}}</del> </h3>
  {{/if}}
  {{/each}}
  </div>
</div>


<div class="row">
  <div class="col-sm-6">

    <div class="card mb-4">
      <div class="card-header">Add a Burger to Devour</div>
      <div class="card-body">

        <form class="addburger-form">
          <div class="form-group">
            <label for="burger-input">Burger Type</label>
            <input class="form-control" id="burger_name" type="text">
          </div>
          <button class="btn btn-primary float-right" type="submit" id="addburger">Submit Option</button>
        </form>


        <script type="text/javascript">
          $(".addburger-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var newBurger = {
              burger_name: $("#burger_name").val().trim()
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
              type: "POST",
              data: newBurger
            }).then(
              function () {
                console.log("added new burger");
                // Reload the page to get the updated list
                location.reload();
              }
            );
          });
          $(function () {
            $(".change-status").on("click", function (event) {

              var updateBurger = {
                burgerId: $(this).data("burger-id")
              };
              // Send the PUT request.
              $.ajax("/api/burgers", {
                type: "PUT",
                data: updateBurger
              }).then(
                function () {
                  console.log("changed burger to", newDevoured);
                  // Reload the page to get the updated list
                  location.reload();
                }
              );
            });



          });

        </script>